---
import Layout from '../../layouts/Layout.astro'
import TOC from '../../components/TOC.tsx'
import { getCollection, getEntry } from 'astro:content'
import dayjs from 'dayjs'

export async function getStaticPaths() {
  const entries = await getCollection('entries', ({ data }) => data)
  return entries.map((entry: { slug: string }) => ({
    params: { slug: entry.slug }
  }))
}

const { slug } = Astro.params
const data = await getEntry('entries', slug)
const { headings, Content } = await data.render()
const { date, day, title } = data.data

// Get webring
const webring = await (
  await fetch('https://365days-of-making.vercel.app/api/webring')
).json()

export const prerender = false
---

<style is:global lang="scss">
  @import '../../ui/variables.scss';

  .container {
    margin: 0 auto;
    padding: 2rem;
    gap: 2rem;

    @media screen and (min-width: $md) {
      display: flex;
      width: 75vw;
    }
  }

  .toc {
    align-self: flex-start;
    font-family: var(--font-serif);
    font-size: 0.8rem;
    min-width: calc(15vw - 4rem);
    padding-top: 2rem;
    position: sticky;
    top: 0;

    * {
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 0.3rem;
    }
  }

  .entry {
    @media screen and (min-width: $md) {
      max-width: calc(60vw - 4rem);
    }

    #title {
      margin-top: 0.995rem;
      @media screen and (min-width: $md) {
        margin-top: 0;
      }
    }
  }
</style>

<Layout title="Entry" description="Entry" popup={true} webring={webring}>
  <div class="container">
    <TOC client:load headings={headings} />
    <div class="toc desktop">
      {
        headings.map((heading, idx) => {
          let prevDepth = idx > 0 ? headings[idx - 1].depth : Infinity
          switch (heading.depth) {
            case 1:
              return (
                <h1>
                  <a href={`#${heading.slug}`}>{heading.text}</a>
                </h1>
              )
            case 2:
              return (
                <h2>
                  <a
                    href={`#${heading.slug}`}
                    style={{ marginLeft: prevDepth < 2 ? '4px' : '' }}>
                    {heading.text}
                  </a>
                </h2>
              )
            case 3:
              return (
                <h3>
                  <a
                    href={`#${heading.slug}`}
                    style={{ marginLeft: prevDepth < 3 ? '5px' : '' }}>
                    {heading.text}
                  </a>
                </h3>
              )
            case 4:
              return (
                <h4>
                  <a
                    href={`#${heading.slug}`}
                    style={{ marginLeft: prevDepth < 3 ? '6px' : '' }}>
                    {heading.text}
                  </a>
                </h4>
              )
            case 5:
              return (
                <h5>
                  <a
                    href={`#${heading.slug}`}
                    style={{ marginLeft: prevDepth < 3 ? '7px' : '' }}>
                    {heading.text}
                  </a>
                </h5>
              )
            case 6:
              return (
                <h6>
                  <a
                    href={`#${heading.slug}`}
                    style={{ marginLeft: prevDepth < 3 ? '8px' : '' }}>
                    {heading.text}
                  </a>
                </h6>
              )
          }
        })
      }
    </div>
    <div class="entry">
      <div class="prose">
        <p style={{ color: 'var(--theme)', marginBottom: '8px' }}>
          {dayjs(date).format('MMM DD, YYYY')}
        </p>
        <h1 style={{ lineHeight: 1.2 }} id="title">Day {day}: {title}</h1>
        <Content />
        <p>Have a question? Fire below.</p>
      </div>
      <script
        src="https://giscus.app/client.js"
        data-repo="jianmin-chen/365days-of-making"
        data-repo-id="R_kgDOKRAyPw"
        data-category="Announcements"
        data-category-id="DIC_kwDOKRAyP84CZLWE"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async></script>
    </div>
  </div>
</Layout>
