---
import '../ui/globals.scss'
import Header from '../components/Header.tsx'

export interface Props {
  title: string | undefined
  description: string | undefined
  popup: boolean | undefined
}

let { title, description, popup } = Astro.props
title = `365 Days of Making | ${title}` || '365 Days of Making'
description = description || ''
popup = popup || false
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header popup={popup} />
    <main>
      <slot />
    </main>
  </body>
</html>
