---
import '../ui/globals.scss'
import Header from '../components/Header.tsx'
import Footer from '../components/Footer.tsx'
import { Toaster } from 'react-hot-toast'

interface Webring {
  member: string
  url: string
}

export interface Props {
  title: string | undefined
  description: string | undefined
  popup: boolean | undefined
  webring: Array<Webring> | undefined
}

let { title, description, popup, webring } = Astro.props
title = `365 Days of Making | ${title}` || '365 Days of Making'
description = description || ''
popup = popup || false
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header client:load popup={popup} />
    <main>
      <slot />
    </main>
    {webring != undefined && <Footer webring={webring} />}
  </body>
</html>
